<h1>Material Buttons</h1>
<hr>
<div>
  <button mat-button>Mat-button</button>
  <button mat-raised-button>Mat-raised-button</button>
  <button mat-flat-button>Mat-flat-button</button>
  <button mat-stroked-button>mat-stroked-button</button>

</div>

<div>
  <button mat-icon-button>icon</button>
  <button mat-fab>mat-fab</button>
  <button mat-mini-fab>mat-minifab</button>
</div>
<br>
<h2>Colored Buttons</h2>
<div>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
  <button disableRipple color="warn" mat-raised-button>no-ripple</button>


</div>

<h3>Source:</h3>
<a href="https://material.angular.io/components/button/examples">Source to material buttons</a>