
<mat-accordion>
  <mat-expansion-panel [hideToggle]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Expansion panel
      </mat-panel-title>
      <mat-panel-description>
        Description
      </mat-panel-description>
    </mat-expansion-panel-header>
     <p>Panel content</p>
     <mat-action-row>
       <button mat-button>Enroll</button>
     </mat-action-row>
</mat-expansion-panel>


<mat-expansion-panel [hideToggle]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Expansion panel 2
    </mat-panel-title>
    <mat-panel-description>
      Description 2
    </mat-panel-description>
  </mat-expansion-panel-header>
   <p>Panel content 2</p>
   <mat-action-row>
     <button mat-button>Enroll 2</button>
   </mat-action-row>
</mat-expansion-panel>
</mat-accordion>


