
<div class="wrapper">
  <div class="spinner-overlay"  *ngIf="showSpinner">
    <div class="spinner-wrapper">
      <mat-progress-spinner  mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
    
  </div>
  
  <mat-toolbar color="primary" class="navbar">
      <div>Angular Material</div>
      
        
        <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
      
  </mat-toolbar>

<app-sidenav>
  
</app-sidenav>  

  <mat-menu #appMenu="matMenu" >
    
      <a style="display: block;" mat-menu-item [routerLink]="['/typography']"  routerLinkActive="router-link-active" >Typography</a>
      <a  style="display: block;" mat-menu-item  [routerLink]="['/buttons']" routerLinkActive="router-link-active">buttons</a>
      <a  style="display: block;" mat-menu-item [routerLink]="['/button-toggles']" routerLinkActive="router-link-active">Toggle-buttons</a>
      <a  style="display: block;" mat-menu-item [routerLink]="['/mat-icons']" routerLinkActive="router-link-active">Material Icons</a>
      <a  style="display: block;" mat-menu-item [routerLink]="['/mat-list']" routerLinkActive="router-link-active">Material List</a>
      <a  style="display: block;" mat-menu-item [routerLink]="['/mat-exp-panel']" routerLinkActive="router-link-active">Expansion panel</a>
      <a  style="display: block;" mat-menu-item [routerLink]="['/mat-cards']" routerLinkActive="router-link-active">Material Cards</a>

    
  </mat-menu>


  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Angular2</button>
    <button mat-menu-item>Angular3</button>

  </mat-menu>
  
</div>






