<h1>Material typography</h1>
<br>
<hr>
<div class="mat-display-4">Display4</div>
<div class="mat-display-3">Display3</div>
<div class="mat-display-2">Display2</div>
<div class="mat-display-1">Display1</div>

<div class="mat-headline">Mat-headline</div>
<div class="mat-title">Mat-title</div>
<div class="mat-subheading-2">mat-subheading-2</div>
<div class="mat-subheading-1">mat-subheading-1</div>

<div class="mat-body-1">Mat-body-1</div>
<div class="mat-body-2">Mat-body-2</div>
<div class="mat-caption">Mat-caption</div>
