
<h1>Icons:</h1>
<div>
  <mat-icon color="primary">grade</mat-icon>
</div>

<h1>Badges:</h1>
<div class="badges-div">
  <span matBadge="5">Notificatiion</span>
</div>

<div class="badges-div">
  <span matBadge="5" matBadgePosition="below before">Notification</span>
</div>

<div class="badges-div">
  <span matBadge="5" matBadgePosition="below after">Notification</span>
</div>

<div class="badges-div">
  <span matBadge="5" matBadgePosition="above before">Notification</span>
</div>

<h2>Badge Sizes:</h2>

<div class="badges-div">
  <span matBadge="5" matBadgeSize="small">Notificatiion</span>
</div>

<div class="badges-div">
  <span matBadge="5" matBadgeSize="medium">Notificatiion</span>
</div>

<div class="badges-div">
  <span matBadge="5" matBadgeSize="large">Notificatiion</span>
</div>


